@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", sans-serif;
    --color-bayrak: oklch(0.578 0.233 28);
}

@layer base {
    h1 {
        @apply text-3xl relative font-bold text-gray-800 pb-2 mb-4;
    }

    h1::after {
        content: '';
        @apply block h-1 w-20 bg-bayrak absolute bottom-0 left-0;
    }

    button {
        @apply border bg-stone-200 text-stone-600 border-stone-300 rounded-md px-4 py-2 hover:text-stone-900 hover:bg-stone-300 cursor-pointer transition-all duration-200 ease-in-out shadow-sm;
    }

    input, select, option {
        @apply w-full border border-stone-300 rounded-lg placeholder:text-stone-400 outline-none focus:ring-2 focus:ring-bayrak focus:border-transparent px-3 py-2 transition-all;
    }
}

@layer components {
    .content img {
        @apply w-full h-auto xl:max-w-2xl mx-auto rounded-lg shadow-md my-4;
    }

    .content p {
        @apply mb-4 leading-relaxed;
    }
}